.backgroundcolor{
  background: #336193;
}

#header {
  height: 10%;
}

#header img {
  width: 168px;
  height: 27px;
  margin-left: 2%;
  margin-top: 1.5%; 
}

#hoverTarget{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 3%;
}

.tooltip{
	position: absolute;
	z-index: 10;
	background: lightsteelblue;
	border: solid 1px;
	padding: 2px;
	cursor: default;
}