#slider-container {
    background-color: #c2c5cc;
    position: relative;
    height:42px;
    width: 100%;
}

.slider-container {
    background-color: #c2c5cc;
    position: relative;
    height:30px;
}

.slider {
    position: absolute;
    border: 1px solid rgb(2, 2, 2);
    background: #BCE;
    height: 100%;
    top: 0px;
    cursor: move;
    left: 0px;
    /*margin:-0.5px;*/
}

.slider .handle {
    position: absolute;
    height: 9px;
    width: 9px;
    border: 1px solid rgb(0, 0, 0);
    background: rgb(134, 134, 134);
    
    /* Support for bootstrap */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.slider .EE {
    right: -4px;
    cursor: e-resize;
}

.slider .WW {
    cursor: w-resize;
    left: -4px;
}

.slider .EE, .slider .WW {
    top: 50%;
    margin-top: -4px;
}

.play-container .button{
    fill-opacity: 0.0;
    stroke: #AAB;
    stroke-width: 1.6;
}

.play-container .play, .play-container .stop {
    fill: #BCE;
    stroke: #AAB;
    stroke-width: 1;
}

#slider-container {
    position: relative;
    height:42px;
    background-color: #eeeef5;
    width: 100%;
}
#range-label {
    font-size: 12px;
    color: grey;
}