.backgroundcolor{
  background: #336193;
}

.background {
	fill: none;
	pointer-events: all;
	z-index: 5;
}
@media screen{
	body {
		width: 100vw;
	}
	#header {
		width: 100vw;
	}
}
#header {
	height: 10%;
}

#header img {
  width: 168px;
  height: 27px;
  margin-left: 2%;
}
#mapPlaceholder {
	display: none;
	opacity: 0;
}

.tooltip{
	position: absolute;
	z-index: 10;
	background-color:rgba(0,0,0,0.85);
	color:#fff;
/*	background: lightsteelblue; */	
	border: solid 1px;
/*	padding: 2px;*/
	padding: 5px;
	cursor: default;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

#loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
}

@-webkit-keyframes animatebottom {
	from { bottom:-100px; opacity:0 } 
	to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
	from{ bottom:-100px; opacity:0 } 
	to{ bottom:0; opacity:1 }
}

#myDiv {
	display: none;
	text-align: center;
}
#countyContainer{
	padding-right: 2%;
}
.county-text {
	cursor: default;
}

.county-text {
	cursor: default;
	font-weight: normal;
	margin-top: 2px;
}

.line {
	fill: none;
	stroke: #a1a13b;
	stroke-width: 3;
}

.hover-line {
  stroke: #6F257F;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

.overlay {
fill: none;
pointer-events: all;
}

/* Style the dots by assigning a fill and stroke */
.dot {
	fill: #c9c900;
	stroke: #fff;
}

.focus circle {
fill: none;
stroke: steelblue;
}

.focus text {
	z-index: 3;
}

.checkboxDiv{
	margin-bottom: 10px;
}

#mapContainer {
	padding-left: 0%;
}
#legend1, #legend2 {
	padding-right: 0%;
}
#legend1 svg, #legend2 svg {
	margin-left: 30%;
}

#legend1 p, #legend2 p {
	font-size: 10px;
	color: grey;
	float:right;
	width: 10%;
	margin-bottom: 0px;
	padding-top:1%;
}
#category-label {
	font-size: 12px;
	color: grey;
}
#cat {
	width: 100%;
	margin-top: 20px;
}
g {
	stroke: black;
	stroke-width:0.3px;
}


h2{
	font-weight: 200 !important;
	font-size: 20px !important;
	margin-bottom: 2px !important;
}

#selectedValue{
	opacity: 1 !important;
}

/* * /


/* Customize the label (the container) */
.checkboxDiv {
  /*display: block;*/
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 19px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxDiv input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxDiv:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxDiv input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxDiv input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxDiv .checkmark:after {
  left: 8px;
  top: 1px;
  width: 9px;
  height: 19px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#modalbtn {
	margin-left: 80%; 
	height: 27px; 
	width: 27px; 
	margin-top: 1.5%; 
	color: white;
	transition: 0.6s;
	opacity: 0.8;
}
#modalbtn:hover {
	opacity: 1;
}
#mapHeader {
	text-align:center;
	margin-bottom: 3%;
	padding-right: 10%;
}